.card {
    border-radius: 3px;
    padding: 8px 4px 8px 4px;
    background-color: #fff;
    box-shadow: 0 1px 0 #091e4240;
    margin-bottom: 5px;
    position: relative;
}

.card:hover{
    background-color: #f4f5f7;
    border-bottom-color: #019e4240;
}

.card__button {
    width: 10%;
    position: absolute;
    top: 2px;
    right: 5px;
}